:root {
  /* General font */
  --font: 'VT323', monospace;
  /* Colors */
  --high-contrast: #f1f1f1;
  --accent-color: #292fe8;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

h1, 
h2, 
h3, 
h4, 
h5,
p {
  color: var(--high-contrast) !important;
}



body{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

/* Animations */
@keyframes rotation360 {
  to {
    transform: rotate(360deg) translate(0px, 0px);
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes moveUpAndDisappear {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-300%);
    opacity: 0;
  }
}

/* General Class Styling */
.upgrades-container {
  margin-right: 2em;
  overflow: scroll;
  /* From https://css.glass */
  background: rgba(52, 52, 52, 0.52);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border: 1px solid rgba(52, 52, 52, 1);
}

.upgrade { 
  color: var(--high-contrast);
  margin: auto; 
  /* From https://css.glass */
  background: rgba(52, 52, 52, 0.76);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.1px);
  -webkit-backdrop-filter: blur(10.1px);
  border: 1px solid rgba(52, 52, 52, 1);
}

.rotate-animation {
  -webkit-animation: rotation360 60s infinite both;
	animation: rotation360 60s infinite both;
}

.temporary-score-display {
  display: flex;
  flex-direction: row;
  position: absolute;
  color: var(--accent-color);
  width: 100px;
  /*Prevent selection of element when double clicked*/
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  z-index: 99;
  -webkit-animation: moveUpAndDisappear 3s ease;
	animation: moveUpAndDisappear 3s  ease;
}

.frog-icon {
  width: 50%;
}

.clicker-token {
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
  /*Prevent selection of element when double clicked*/
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Mobile & table touch screens */
@media screen and (max-width: 1024px) {
  .clicker-token {
    width: 70%;
  }
  
}
/* Desktop screens */
@media screen and (min-width: 1025px) {
  .clicker-token {
    width: 50%;
  }

  .clicker-token::after {
    content: "";
    box-shadow: 0px 0px 37px 20px rgba(255, 255, 255, 0.47);
    animation: rotation360 3000ms infinite ease;
  }
}