:root {
  /* General font */
  --general-font: 'Montserrat', sans-serif;
  --display-font: 'Cherry Bomb One', cursive;
  /* Colors */
  --high-contrast: #f1f1f1;
  --accent-color: hsl(348, 100%, 61%);
}

/* Animations */
@keyframes rotation360 {
  to {
    transform: rotate(360deg) translate(0px, 0px);
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes moveUpAndDisappear {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-300%);
    opacity: 0;
  }
}

/*General Styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--general-font);
}

h1, 
h2, 
h3, 
h4, 
h5,
p {
  color: var(--high-contrast);
}

body{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  overflow-x: hidden;
}

/* General navigation styling*/

/* Score styling*/
.score {
  font-weight: 700;
}

/* Section handling the upgrade container styling*/
.upgrade-list * {
  color: hsl(0, 0%, 21%);
}

.upgrades__container{
  /* From https://css.glass */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: rgba(97, 84, 84, 0.39);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border: 1px solid rgba(52, 52, 52, 1);
}

.upgrade-list__scroll {
  overflow-y: scroll;
  max-height: 80%;
}

/* Using the webkit scrollbar pseudo selector */
.upgrade-list__scroll::-webkit-scrollbar {
  scrollbar-color: black white;
}

.upgrade { 
  color: var(--high-contrast);
  margin: auto; 
  /* From https://css.glass */
  background: rgba(52, 52, 52, 0.76);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.1px);
  -webkit-backdrop-filter: blur(10.1px);
  border: 1px solid rgba(52, 52, 52, 1);
}

.rotate-animation {
  -webkit-animation: rotation360 60s infinite both;
	animation: rotation360 60s infinite both;
}

.temporary-score-display {
  display: flex;
  flex-direction: row;
  position: absolute;
  color: var(--accent-color);
  font-family: var(--display-font);
  width: 100px;
  /*Prevent selection of element when double clicked*/
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  z-index: 99;
  -webkit-animation: moveUpAndDisappear 3s ease;
	animation: moveUpAndDisappear 3s  ease;
}

.frog-icon {
  width: 50%;
  /*Prevent selection of element when double clicked*/
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.main__clicker {
  border-radius: 50%;
  /*Prevent selection of element when double clicked*/
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.clicker__image {
  border-radius: 60%;
  /* stopping image from becoming draggable */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.upgrade-button {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.upgrade-button__container {
  text-align: center;
}

.upgrade-button > i {
  transform: scale(1.3);
}

/* Mobile styling */
@media screen and (max-width: 768px) {
  /* Navbar styling in mobile*/
  .navbar-menu {
    position: absolute;
    width: 100%;
  } 

  /* Mobile main container elements style */
  .container__main {
    padding: 0 1.5em 0 1.5em;
  }

  .main__clicker {
    width: 90%;
    margin: 3em auto;
    text-align: center;
  }

  /* Mobile upgrade container style*/
  .upgrades__container{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 12%;
    max-height: 85%;
    height: 45rem;
    border: none;
    width: 100%;
  }

  /* Score container holder */
  .container-score {
    display: flex;
    justify-content: space-between;
    flex-direction: initial;
    max-width: 100%;
    gap: 1em;
    bottom: 2em;
    margin: 1em;
  }

  /* Upgrades container */
  .container-upgrade__title {
    margin: 1em;
    align-items: center;
  }

  .upgrade-list {
    padding: 1em;
    height: 90%;
  }

  .upgrade-list__scroll {
    overflow-y: scroll;
  }
  .footer {
    z-index: 10;
  }
}

/* Desktop styling */
@media screen and (min-width: 1024px) {
  .container__main {
    height: 80%;
    margin: auto 0 !important;
  }

  .main__clicker {
    width: 60%;
    margin: 3em auto .5em;
  }

  /* upgrade section desktop*/
  .upgrades__container{
    max-height: 100vh;
    min-height: 60vh;
    padding-top: 2em;
    padding-bottom: 2em;
    border: none;
    border-left: 1px solid black;
  }

  .upgrade-list__scroll {
    max-height: 100%;
  }

  .container-score {
    margin: 1em .5em;
    padding: 1em;
  }
  
  .upgrade-list {
    padding: 1em;
    height: 90%;
  }
}

/* Tablet Styling */
@media screen and (min-width: 769px) and (max-width: 1023px) {

  /* Main section element styling - tablet */
  .main__container {
    margin-top: 5rem;
    text-align: center;
    height: 80dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15% ;
  }

  /* Clicker image and container style and size*/
  .main__clicker {
    flex-grow: 3;
    width: 80%;
  }

  .clicker__image {
    width: 35rem;
    max-width: 80%;
    padding: 1rem;
  }

  .container-score {
    gap: 5rem;
    text-align: left;
    flex-grow: 1;
  }

  /*upgrade container tablet style*/
  .upgrades__container{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 100%;
    max-height: 90%;
    width: 100%;
  }

  .container-upgrade__title {
    margin: 3rem;
  }

  .container-upgrade__title > h2 {
    font-weight: 700;
  }

  .upgrade__close {
    margin: 1rem;
  }
}